In [4]:
from pathlib import Path

import pandas as pd

In [5]:
data_root = Path('./data')

In [7]:
df_validated = pd.read_csv(data_root / 'validated.tsv', sep='\t')

In [8]:
df_validated.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,01e92accf4513140ba6edfc77bc323202437605d2ded09...,common_voice_hy-AM_31719719.mp3,Միջպետական հարաբերություններում կարևոր դեր էին...,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN
1,0acba0aee6846f49f72adcf35fda7bcd4f9d016d05680a...,common_voice_hy-AM_39566466.mp3,Նրա երգերը դեռևս հայտնի էին եգիպտացիների շրջան...,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN
2,18f0d70e98efaefeb7260444a70d3f154abc1934f7f7b7...,common_voice_hy-AM_39520095.mp3,Եղել է տաղանդավոր մանկավարժ նորարար։,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN
3,1e36f592ddcea64771f3cd7d026394f43b5e959be77326...,common_voice_hy-AM_39548912.mp3,Վերջնական բացատրություն դեռևս չի հայտնաբերվել։,2,0,twenties,female,NaN,NaN,hy-AM,NaN
4,25f83284bed72c2475ea1caef4e996e86646f7395182ff...,common_voice_hy-AM_31719990.mp3,Տեղի կլիման արևադարձային է։,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN

In [10]:
df_validated['gender'].value_counts()

gender
female    5298
male      2153
other       23
Name: count, dtype: int64

In [11]:
df_validated['up_votes'].value_counts()

up_votes
2     6255
4     1902
6      584
3      578
9       29
8       20
12       2
Name: count, dtype: int64

In [12]:
df_validated['down_votes'].value_counts()

down_votes
0    8750
1     497
2     109
3      14
Name: count, dtype: int64

In [13]:
df_clip_durations = pd.read_csv(data_root / 'clip_durations.tsv', sep='\t')

In [14]:
df_clip_durations

                                  clip  duration[ms]
0      common_voice_hy-AM_26674192.mp3          6336
1      common_voice_hy-AM_39445447.mp3          5760
2      common_voice_hy-AM_39514563.mp3          4860
3      common_voice_hy-AM_39481522.mp3          4860
4      common_voice_hy-AM_39494968.mp3          5256
...                                ...           ...
15622  common_voice_hy-AM_31107900.mp3         10512
15623  common_voice_hy-AM_39494147.mp3          4536
15624  common_voice_hy-AM_26175356.mp3          8388
15625  common_voice_hy-AM_39552719.mp3          3636
15626  common_voice_hy-AM_39534705.mp3          5940

[15627 rows x 2 columns]

In [21]:
df_validated_durations = pd.merge(df_validated, df_clip_durations, how='inner', left_on='path', right_on='clip')

In [22]:
df_validated_durations.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment,clip,duration[ms]
0,01e92accf4513140ba6edfc77bc323202437605d2ded09...,common_voice_hy-AM_31719719.mp3,Միջպետական հարաբերություններում կարևոր դեր էին...,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN,common_voice_hy-AM_31719719.mp3,7200
1,0acba0aee6846f49f72adcf35fda7bcd4f9d016d05680a...,common_voice_hy-AM_39566466.mp3,Նրա երգերը դեռևս հայտնի էին եգիպտացիների շրջան...,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN,common_voice_hy-AM_39566466.mp3,7236
2,18f0d70e98efaefeb7260444a70d3f154abc1934f7f7b7...,common_voice_hy-AM_39520095.mp3,Եղել է տաղանդավոր մանկավարժ նորարար։,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN,common_voice_hy-AM_39520095.mp3,5040
3,1e36f592ddcea64771f3cd7d026394f43b5e959be77326...,common_voice_hy-AM_39548912.mp3,Վերջնական բացատրություն դեռևս չի հայտնաբերվել։,2,0,twenties,female,NaN,NaN,hy-AM,NaN,common_voice_hy-AM_39548912.mp3,5544
4,25f83284bed72c2475ea1caef4e996e86646f7395182ff...,common_voice_hy-AM_31719990.mp3,Տեղի կլիման արևադարձային է։,2,0,NaN,NaN,NaN,NaN,hy-AM,NaN,common_voice_hy-AM_31719990.mp3,4608

In [28]:
print('total audio duration: ', df_validated_durations['duration[ms]'].sum() / 1000 / 3600, 'hours')

total audio duration:  14.258120000000002 hours

In [29]:
df_my_train = pd.read_csv(data_root / 'my_train.tsv', sep='\t')
df_my_val = pd.read_csv(data_root / 'my_val.tsv', sep='\t')

In [30]:
df_my_train_durations = pd.merge(df_my_train, df_clip_durations, how='inner', left_on='path', right_on='clip')
df_my_val_durations = pd.merge(df_my_val, df_clip_durations, how='inner', left_on='path', right_on='clip')

In [31]:
print('total train audio duration: ', df_my_train_durations['duration[ms]'].sum() / 1000 / 3600, 'hours')

total train audio duration:  13.48951 hours

In [32]:
print('total val audio duration: ', df_my_val_durations['duration[ms]'].sum() / 1000 / 3600, 'hours')

total val audio duration:  0.76861 hours

In [34]:
print('all duration: ', df_clip_durations['duration[ms]'].sum() / 1000 / 3600, 'hours')

all duration:  23.603360000000002 hours